body {
    background-color: #202124;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notF {
    text-align: center;
}

.notF-container {
    padding: 20px;
}

.notF-404 {
    height: 158px;
    line-height: 158px;
}

.notF-404 h1 {
    margin: 0;
    color: #222;
    font-family: 'josefin sans', sans-serif;
    font-size: 220px;
    font-weight: 700;
    letter-spacing: 10px;
    text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9;
}

.notF-404 span {
    text-shadow: 2px 2px 0 #dba451, -2px -2px 0 #dba451, 0 0 8px #f5972c;
}

.notF-text {
    margin-top: 25px;
    color: #c9c9c9;
    font-family: 'josefin sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.notF-link {
    margin-top: 25px;
    color: #c9c9c9;
    font-family: 'josefin sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #c9c9c9;
    display: inline-block;
    padding: 10px 25px;
    -webkit-transition: .2s all;
    transition: .2s all;
}

.notF-link:hover {
    color: #dba451;
    border-color: #dba451;
}

@media only screen and (max-width: 500px) {
    .notF-404 h1 {
        font-size: 150px;
        letter-spacing: 3px;
    }
}

@media only screen and (max-width: 300px) {
    .notF-404 h1 {
        font-size: 100px;
        letter-spacing: 3px;
    }
}