*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
  scroll-behavior: smooth;
  min-height: 100%;
  font-family: "Libre Franklin", "Roboto", "Arial", sans-serif;
  font-size: 10px;
}

head {
    display: none;
}


body {
  background-color: black;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 0;
}