p a:not(.footer-emaillink) {
  color: #dba451;
  text-decoration: none;
  font-weight: bold;
}

p a:hover:not(.footer-emaillink) {
  color: #a46606;
  text-decoration: underline;
  font-weight: bold;
}

.lead a {
  color: #dba451;
  text-decoration: none;
  font-weight: bold;
}

.lead a:hover {
  color: #a46606;
  text-decoration: underline;
  font-weight: bold;
}




/* Startpage Projekte Übersicht */

.projects-header {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
  border-bottom: 1px solid white!important;
  clear: left;
}

.projects-list {
  padding-top: 8px;
  padding-bottom: 8px;

}

.project a {
  color: #dba451;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  color: #a46606;
  text-decoration: underline;
  font-weight: bold;
}

.project {
  clear: left;
}

.projects-picture {
  border: 0.25rem solid #202124;
  box-shadow: none;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  border-radius: 0.3rem;
}

.projects-picture-link {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  max-width: 512px;
  max-height: 288px;
}

h4.projects-info {
  padding-top: 1rem;
  padding-bottom: 0rem;
}

p.projects-info {
  padding-top: 0rem;
  padding-bottom: 1rem;
}


/* Twitch Bot */

.twbot-h {
  border-bottom: 1px solid white!important;
}

.twbot-ol {
  list-style: decimal;
}


/* Neon Cursor */

.neoncursor {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

.neoncursor h1 {
  --fontSize: 60px;
  --lineHeight: 80px;
  width: auto;
  height: calc(2 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(50vh - var(--lineHeight)) auto 0;
  font-size: var(--fontSize);
  text-transform: uppercase;
}

.neoncursor canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
}



/* Glowing Button */	  
.glow-on-hover {
  margin: 10px;
	width: 220px;
	height: 50px;
  text-align: center;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/* IDN */
.idn p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #d6cccc
}

.idn h1 {
  border-bottom: 1px solid white!important;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 600!important;
  color: #fff;
}

.idn h2 {
  margin: 15px 0;
  font-weight: 500!important;
  color: #fff;
}

.idn h3 {
  margin: 15px 0;
  font-weight: 400!important;
  color: #fff;
}

.idn h4 {
  margin: 10px 0;
  font-weight: 300!important;
  color: #fff;
}

.idn ol {
  list-style: decimal;
  font-size: 1.25rem;
  font-weight: 300;
  color: #d6cccc
}

.idn li {
  font-size: 1.25rem;
  font-weight: 300;
  color: #d6cccc
}