.background {
  background-color: #202124;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

.content {
  display: block;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
  padding: 1.4rem;
  background-color: #35363A;
  border: 0.15rem solid black;
  border-radius: 10px;
  color: #e5e5e5;
  box-shadow: 0 0.15rem 0.7rem rgb(0 0 0 / 10%);

}

.projects-header {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
  border-bottom: 1px solid white!important;
  clear: left;
}

.projects-list {
  padding-top: 8px;
  padding-bottom: 8px;

}

.project a {
  color: #dba451;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  color: #a46606;
  text-decoration: underline;
  font-weight: bold;
}

.project {
  clear: left;
}

.projects-picture {
  border: 0.25rem solid #202124;
  box-shadow: none;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  border-radius: 0.3rem;
}

.projects-picture-link {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  max-width: 512px;
  max-height: 288px;
}

.projects-info {
  padding-top: 1rem;
}




p a {
  color: #dba451;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  color: #a46606;
  text-decoration: underline;
  font-weight: bold;
}









.centerimage {
 	   display: block;
	   margin-left: auto;
	   margin-right: auto;
 	   width: 50%;
  	   }
	  
/* Glowing Button */
	  
	  
	.glow-on-hover {
	    width: 220px;
	    height: 50px;
	    border: none;
	    outline: none;
	    color: #fff;
	    background: #111;
	    cursor: pointer;
	    position: relative;
	    z-index: 0;
	    border-radius: 10px;
	}

	.glow-on-hover:before {
	    content: '';
	    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	    position: absolute;
	    top: -2px;
	    left:-2px;
	    background-size: 400%;
	    z-index: -1;
	    filter: blur(5px);
	    width: calc(100% + 4px);
	    height: calc(100% + 4px);
	    animation: glowing 20s linear infinite;
	    opacity: 0;
	    transition: opacity .3s ease-in-out;
	    border-radius: 10px;
	}

	.glow-on-hover:active {
	    color: #000
	}

	.glow-on-hover:active:after {
	    background: transparent;
	}

	.glow-on-hover:hover:before {
	    opacity: 1;
	}

	.glow-on-hover:after {
	    z-index: -1;
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: #111;
	    left: 0;
	    top: 0;
	    border-radius: 10px;
	}

	@keyframes glowing {
	    0% { background-position: 0 0; }
	    50% { background-position: 400% 0; }
	    100% { background-position: 0 0; }
	}
